body {
  margin: 0;
  font-family: 'WantedSans-Regular';
}

@font-face {
  font-family: 'WantedSans-Regular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: normal;
  src: url('./fonts/WantedSans-Regular.ttf') format('truetype');
}

span {
  font-family: 'WantedSans-Regular';
}

p {
  font-family: 'WantedSans-Regular';
}
